<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
    </listeners>
    <test name="All Test Cases">
        <classes>
            <class name="TestCases.testSingleInput"/>
            <class name="TestCases.testRandomInput"/>
            <class name="TestCases.testInvalidInput"/>
        </classes>
    </test>
</suite>